@import '../global.scss';

.footer{
    background-color: $color2;
    color: white;
    font-family: $fontFamily;
    height: auto;
    text-align: center;
    padding: 10px;
    h4{
        font-size: 24px;
    }
}

.footer__link{
    margin: 10px;
}