@import '../global.scss';

.hero{
    margin: 0;
    display: grid;
    height: 60vh;
    grid-template-rows: 70% 30% ;
    background: linear-gradient($color1,$color3);
    font-family: $fontFamily;
}

.hero__text{
    margin: inherit;
    grid-column: 1/-1;
    text-align: center;
    color: $fontColor;
    align-self: center;
}

.hero__list{
    border-radius: 100px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    align-items: center;
}

.hero__option--tv{
    border-radius: 50px 0 0 50px ;
    background-color: grey;
    padding: 20px 0px;
}

.hero__option--tv:hover{
    background-color:white;
}

.hero__option--profile{
    @extend .hero__option--tv;
    border-radius: 0 50px 50px 0;
}



