@import '../global.scss';

.profile{
    border-radius: 10px;
    background-color: white;
    width: 90%;
    margin: 10px; 
}

.profile__username{
    background-color: grey;
    border-radius: 10px 10px 0px 0px;
    padding: 3px 0px;
}

.profile__data{
    background-color: lightgray;
    padding-top: 3px;
    h3:first-of-type{
        margin-top: 3px;
    }
}